* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 150px;
}

.counteiner-header {
    width: 100%;
    height: 100%;
    background-color: rgb(204, 133, 133);
    display: flex;
    justify-content: center ;
}

.count-header-cabecario {
    width: 80%;
    height: 100%;
    background-color: rgb(201, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
}


